<!DOCTYPE html>
<html lang="ru">
<head>
    {% block title %}
    <title>Sasha.Artsoul</title>    
    {% endblock title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Добавление статического CSS-файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% block head %}
        <img src="{% static 'images/logo_100.png' %}" alt="Скачанный логотип"
        align="absmiddle">
        <font size="12" color="blue">Sasha.Artsoul</font>
    {% endblock head %}        
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                
                {% block sidebar %}
                    <ul class="sidebar-nav">
                        <!-- Вход в учетную запись -->
                        {% if user.is_staff %}
                            <li>Админ: {{ user.get_username }}</li>
                            <li><a href="/admin">Админка</a></li>
                            <li><a href="{% url 'logout' %}?next={{ request.path }}">Выход</a></li>
                        {% elif user.is_authenticated %}
                            <li>Пользователь: {{ user.get_username }}</li>
                            <li><a href="{% url 'logout' %}?next={{ request.path }}">Выход</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}?next={{ request.path }}">Вход</a></li>
                        {% endif %}

                        <li><a href="{% url 'index' %}">Главная страница</a></li>
                        <li><a href="">Услуги</a></li>
                        <li><a href="">Прайс</a></li>
                        <li><a href="">Отзывы</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="{% url 'insert_data' %}">Добавить данные в базу</a></li>
                    </ul>
                {% endblock sidebar %}
            </div>
            <div class="col-sm-10">
                
                {% block content %}{% endblock content %}
                
                {% block footer %}
                
                {% block copyright %}
                    <p class="sidebar-nav">Copyright ИП Заборовская Александра, ОГРН: "", 2022. Все права защищены.</p>
                {% endblock copyright %}
                
                {% endblock footer %}
                    
            </div>
        </div>
    </div>
</body>
</html>